:root {
    --bg888: #888;
    --bg88b: #88b;
    --bg88f: #88f;
    --bg8b8: #8b8;
    --bg8bb: #8bb;
    --bg8bf: #8bf;
    --bg8f8: #8f8;
    --bg8fb: #8fb;
    --bg8ff: #8ff;
    --bgb88: #b88;
    --bgb8b: #b8b;
    --bgb8f: #b8f;
    --bgbb8: #bb8;
    --bgbbb: #bbb;
    --bgbbf: #bbf;
    --bgbf8: #bf8;
    --bgbfb: #bfb;
    --bgbff: #bff;
    --bgf88: #f88;
    --bgf8b: #f8b;
    --bgf8f: #f8f;
    --bgfb8: #fb8;
    --bgfbb: #fbb;
    --bgfbf: #fbf;
    --bgff8: #ff8;
    --bgffb: #ffb;
    --bgfff: #fff;
    --bg-color-1: var(--bgbbb);
    --bg-color-2: var(--bgbbb);
    --text-color-paragraph: #353535;
    --shadow: 0 0 5px RGBA(0, 0, 0, 0.5);
    --link: var(--bg88f);
}

html {
    background: linear-gradient(135deg, var(--bg-color-1), var(--bg-color-2));
    width: 100%;
    min-height: 100vh;
    text-align: center;
    font-family: Tahoma, Arial, sans-serif;
    color: var(--text-color-paragraph);
}

body {
    margin: 0;
    width: 100%;
}

aside {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 10000;
}

aside img {
    width: 50px;
}

#setday {
    display: none;
}

#setnight {
    filter: invert(100%);
}

#personnageAleatoire {
    max-width: 800px;
    margin: 0 auto;
}

hr {
    margin: 50px 0;
}

#circuitAleatoire {
    max-width: 1250px;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p.desc {
    max-width: 800px;
    margin: 0 auto;
}

main {
    display: inline-block;
}

h1 {
    margin: 15px 0;
    font-weight: bolder;
    color: var(--text-color-paragraph);
    font-size: 50px;
}

.subh1 p {
    font-size: 25px;
    line-height: 0;
    font-weight: 500;
    font-style: italic;
    margin: 0 0 50px 0;
}

h2 {
    margin: 15px 0;
    font-weight: bold;
    color: var(--text-color-paragraph);
}

h3 {
    margin: 15px 0;
    font-weight: bold;
    color: var(--text-color-paragraph);
    text-align: center;
}

#playersArrow {
    margin: 0 auto 20px auto;
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    cursor: pointer;
    transition: ease-in-out .2s;
}

#playersArrow:hover {
    filter: drop-shadow(0 0 10px #ffffff50);
    transform: scale(110%);
}

#playersArrow img {
    margin: 6px auto 0 auto;
    width: 75%;
}

.playerName {
    background: #55555550;
    color: var(--text-color-paragraph);
    border: none;
    text-align: center;
    margin: 0 auto 15px auto;
    width: 50%;
    padding: 10px 0;
    border-radius: 20px;
    font-family: Tahoma, Arial, sans-serif;
}

.playerName:focus {
    color: var(--text-color-paragraph);
    outline: none;
}

button {
    color: #fff;
    text-decoration: none;
    background: #353535;
    padding: 10px 30px;
    border-radius: 100px;
    transition: ease-in-out .2s;
    font-weight: bold;
    border: none;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background: #ffffff;
    color: #353535;
    box-shadow: 0 0 5px RGBA(0, 0, 0, 0.5);
}

#result {
    display: flex;
    height: 183px;
    width: 800px;
    margin: 15px 0 30px 0;
    font-size: 18px;
    font-weight: bolder;
}

.element {
    width: 200px;
}

.element img {
    filter: drop-shadow(0 0 10px #ffffff50);
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: ease-in-out .2s;
    min-height: 128px;
}

.element img:hover {
    filter: drop-shadow(0 0 10px #ffffffff);
    transform: scale(110%);
}

#reroll1 button:hover,
#reroll2 button:hover,
#reroll3 button:hover,
#reroll4 button:hover {
    box-shadow: 0 0 5px RGBA(0, 0, 0, 0.5);
    background: #fff;
    color: #353535;
}

#nom2,
#nom3,
#nom4,
#reroll2,
#reroll3,
#reroll4,
#set2,
#set3,
#set4 {
    display: none;
    opacity: 0%;
    transition: all .5s ease-in-out 0s;
}

#vitesseRoute,
#vitesseEau,
#vitesseAir,
#vitesseAntiGravite,
#acceleration,
#poids,
#maniabiliteRoute,
#maniabiliteEau,
#maniabiliteAir,
#maniabiliteAntiGravite,
#adherence,
#miniTurbo,
#invincibility {
    position: relative;
    text-align: right;
}

#stats {
    margin: 20px 0 20px 0;
    width: 800px;
}

.statName {
    width: 170px;
    text-align: right;
    vertical-align: middle;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.unit {
    width: 25.6px;
    height: 19px;
    display: inline-block;
    transition: ease-in-out .2s;
}

.unfill {
    background: none;
}

.fill {
    background: gold;
}

.fill:nth-of-type(1) {
    background: #ff6666;
}

.fill:nth-of-type(2) {
    background: #f96d66;
    border-radius: 10px 0 0 10px;
}

.fill:nth-of-type(3) {
    background: #f37366
}

.fill:nth-of-type(4) {
    background: #ec7a66
}

.fill:nth-of-type(5) {
    background: #e58066
}

.fill:nth-of-type(6) {
    background: #df8766
}

.fill:nth-of-type(7) {
    background: #d88e66
}

.fill:nth-of-type(8) {
    background: #d19466
}

.fill:nth-of-type(9) {
    background: #ca9c66
}

.fill:nth-of-type(10) {
    background: #c4a266
}

.fill:nth-of-type(11) {
    background: #bda966
}

.fill:nth-of-type(12) {
    background: #b6af66
}

.fill:nth-of-type(13) {
    background: #afb666
}

.fill:nth-of-type(14) {
    background: #a9bd66
}

.fill:nth-of-type(15) {
    background: #a2c466
}

.fill:nth-of-type(16) {
    background: #9cca66
}

.fill:nth-of-type(17) {
    background: #94d166
}

.fill:nth-of-type(18) {
    background: #8ed866
}

.fill:nth-of-type(19) {
    background: #87df66
}

.fill:nth-of-type(20) {
    background: #80e566
}

.fill:nth-of-type(21) {
    background: #7aec66
}

.fill:nth-of-type(22) {
    background: #9be64c
}

.fill:nth-of-type(23) {
    background: #b9e133
}

.fill:nth-of-type(24) {
    background: #dddc19
}

#history {
    width: 400px;
    margin: 20px auto 0 auto;
    display: none;
    overflow-y: scroll;
    max-height: 540px;
    box-shadow: var(--shadow);
    padding: 10px;
    border-radius: 10px;
    background: #55555550;
    /* Mozilla */
    scrollbar-color: #ffffff50 #00000000;
    scrollbar-width: thin;
}


/* Chrome, Edge ... */

#history::-webkit-scrollbar {
    background-color: #00000000;
    width: 9px;
}

#history::-webkit-scrollbar-thumb {
    background: #ffffff50;
}

.historySet p {
    text-align: left;
    font-size: 19px;
    font-weight: bold;
    margin: 0 0 0 10px;
}

.historySet img {
    height: 64px;
}

#personnageAleatoire,
#circuitAleatoire h2,
#circuitAleatoire p.desc,
#circuitAleatoire div.grilleCircuits {
    padding: 0 8px;
}

.grilleCircuits {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grilleArenes {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
}

.nomCoupe {
    font-weight: bolder;
    font-size: 19px;
}

#choose,
#chooseArena {
    position: sticky;
    display: block;
    padding: 15px 0 15px 0;
    margin: 15px auto;
    top: 15px;
    left: 0px;
    width: 50%;
    z-index: 2;
    transition: ease-in-out .2s;
}

#choose.sticky {
    background: var(--bg-color-1);
    width: 50%;
    border-radius: 15px;
    box-shadow: 0 0 5px RGBA(0, 0, 0, 0.5);
}

#choose button:hover,
#chooseArena button:hover {
    box-shadow: 0 0 5px RGBA(0, 0, 0, 0.5);
    background: #fff;
    color: #353535;
}

#reset,
#resetArena,
#resetItem {
    display: block;
    margin: 30px 0 30px 0;
}

#reset button:hover,
#resetArena button:hover,
#resetItem button:hover {
    box-shadow: 0 0 5px RGBA(0, 0, 0, 0.5);
    background: #fff;
    color: #ff3535;
}

#reset button,
#resetArena button,
#resetItem button {
    background: #ff3535;
    color: #fff;
}

.circuit {
    border-radius: 10px;
    transition: ease-in-out .2s;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 15px;
}

.circuit:hover {
    transform: scale(110%);
    background-color: #ffffff80;
    filter: drop-shadow(0 0 10px #ffffffff);
}

.coupe {
    position: relative;
    padding: 4px;
    border-radius: 20px;
    transition: ease-in-out .2s;
}

.coupe::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 70px;
    height: 70px;
    opacity: .5;
    z-index: -1;
    transform: rotateZ(-30deg);
    background-repeat: no-repeat;
    background-size: 70px;
}

.coupe:nth-of-type(1)::before {
    background-image: url('./img/coupes/Champigon.webp');
}

.coupe:nth-of-type(2)::before {
    background-image: url('./img/coupes/Fleur.webp');
}

.coupe:nth-of-type(3)::before {
    background-image: url('./img/coupes/Etoile.webp');
}

.coupe:nth-of-type(4)::before {
    background-image: url('./img/coupes/Speciale.webp');
}

.coupe:nth-of-type(5)::before {
    background-image: url('./img/coupes/Oeuf.webp');
}

.coupe:nth-of-type(6)::before {
    background-image: url('./img/coupes/Crossing.webp');
}

.coupe:nth-of-type(7)::before {
    background-image: url('./img/coupes/Carapace.webp');
}

.coupe:nth-of-type(8)::before {
    background-image: url('./img/coupes/Banane.webp');
}

.coupe:nth-of-type(9)::before {
    background-image: url('./img/coupes/Feuille.webp');
}

.coupe:nth-of-type(10)::before {
    background-image: url('./img/coupes/Eclair.webp');
}

.coupe:nth-of-type(11)::before {
    background-image: url('./img/coupes/Triforce.webp');
}

.coupe:nth-of-type(12)::before {
    background-image: url('./img/coupes/Clochette.webp');
}

.coupe:nth-of-type(13)::before {
    background-image: url('./img/coupes/Turbo-doree.webp');
}

.coupe:nth-of-type(14)::before {
    background-image: url('./img/coupes/Maneki-neko.webp');
}

.coupe:nth-of-type(15)::before {
    background-image: url('./img/coupes/Navet.webp');
}

.coupe:nth-of-type(16)::before {
    background-image: url('./img/coupes/Helico.webp');
}

.coupe:nth-of-type(17)::before {
    background-image: url('./img/coupes/Pierre.webp');
}

.coupe:nth-of-type(18)::before {
    background-image: url('./img/coupes/Lune.webp');
}

.coupe:nth-of-type(19)::before {
    background-image: url("./img/coupes/Fruit.webp");
}

.coupe:nth-of-type(20)::before {
    background-image: url("./img/coupes/Boomerang.webp");
}

.coupe:nth-of-type(21)::before {
    background-image: url("./img/coupes/Plume.webp");
}

.coupe:nth-of-type(22)::before {
    background-image: url("./img/coupes/Cerise.webp");
}

.coupe:nth-of-type(23)::before {
    background-image: url("./img/coupes/Gland.webp");
}

.coupe:nth-of-type(24)::before {
    background-image: url("./img/coupes/À épines.webp");
}

.notFinished {
    background: none;
}

.completed {
    background: #55885585;
}

.arenes {
    position: relative;
    padding: 4px;
    border-radius: 20px;
    transition: ease-in-out .2s;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.arenes .nomCoupe {
    grid-column: 1/5;
}

.arenes::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: .3;
    z-index: -1;
}

.arenes:nth-of-type(1)::before {
    background-image: url('./img/coupes/Bataille.webp');
    background-repeat: no-repeat;
    background-size: 220px;
    background-position: center;
}

.arene {
    margin: 7px;
    padding: 0 5px;
    border-radius: 10px;
    transition: ease-in-out .2s;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 15px;
}

.arene:hover {
    transform: scale(110%);
    background-color: #ffffff80;
    filter: drop-shadow(0 0 10px #ffffffff);
}

@media screen and (max-width: 1249px) and (min-width: 769px) {
    #circuitAleatoire {
        max-width: 850px;
        margin: 0 auto;
    }
    .grilleCircuits {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .circuit {
        border-radius: 10px;
        transition: ease-in-out .2s;
        font-size: 14px;
    }
    .nomCoupe {
        font-weight: bolder;
        font-size: 16px;
    }
    button {
        font-size: 16px;
    }
    h2 {
        font-size: 36px;
    }
}

@media screen and (max-width: 768px) and (min-width: 426px) {
    .grilleCircuits {
        grid-template-columns: 1fr 1fr 1fr;
    }
    button {
        font-size: 16px;
    }
    h2 {
        font-size: 36px;
    }
}

@media screen and (max-width: 425px) {
    html {
        background: linear-gradient(180deg, var(--bg-color-1), var(--bg-color-2));
    }
    .element img:hover {
        filter: drop-shadow(0 0 10px #ffffffff);
        transform: scale(100%);
    }
    .grilleCircuits {
        grid-template-columns: 1fr 1fr;
    }
    .arenes {
        grid-template-columns: 1fr 1fr;
    }
    .grilleArenes .nomCoupe {
        grid-column: 1/3;
    }
    .circuit,
    .arene {
        font-size: 28px;
    }
    .nomCoupe {
        font-size: 32px;
    }
    button {
        font-size: 32px;
    }
    h2 {
        font-size: 36px;
    }
    #compteur,
    #compteurArena {
        font-size: 36px;
    }
    p {
        font-size: 25px;
    }
    .coupe::before {
        width: 140px;
        height: 140px;
        background-size: 140px;
    }
    .circuit:hover {
        transform: scale(100%);
        background-color: #ffffff80;
        filter: drop-shadow(0 0 10px #ffffffff);
    }
    #choose,
    #chooseArena {
        position: sticky;
        display: block;
        padding: 30px 0 30px 0;
        margin: 0 auto;
        top: 0px;
        left: 0px;
        width: 50%;
        z-index: 2;
        transition: ease-in-out .2s;
    }
    #choose.sticky {
        background: var(--bg-color-1);
        width: 100%;
        border-radius: 0 0 15px 15px;
        box-shadow: 0 0 5px RGBA(0, 0, 0, 0.5);
    }
    #objectsButtons label {
        font-size: 25px;
    }
    #objectsButtons input {
        transform: scale(2) translate(-2px, -2px);
    }
}

#ee {
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 15px;
    opacity: 0;
    transition: ease-in-out .2s;
}

#ee:hover {
    opacity: 1;
}


/* - - - - - - - - - - - - - - 
- - - - A B O U T - - - - - - 
- - - - - - - - - - - - - - - */

.blocTexte {
    text-align: left;
    width: 800px;
    font-size: 18px;
    line-height: 30px;
}

.blocTexte li {
    margin-bottom: 15px;
}

.blocTexte blockquote {
    opacity: .7;
    border-left: solid 3px var( --text-color-paragraph);
    padding: 0 0 0 15px
}

.blocTexte h1 {
    margin-top: 60px;
}

@media screen and (max-width: 425px) {
    .blocTexte {
        text-align: left;
        width: 90vw;
    }
}

a {
    display: inline-block;
    color: var(--text-color-paragraph);
    border: 1.5px solid #353535;
    padding: 10px 20px;
    border-radius: 100px;
    text-decoration: none;
    transition: ease-in-out .2s;
    margin: 0 0 20px 0;
}

a img {
    height: 16px;
    transform: translateY(2px);
}

#exitday {
    filter: invert(1);
    transition: ease-in-out .2s
}

a:hover {
    color: #353535;
    background-color: #fff;
    box-shadow: var(--shadow);
    border: 1.5px solid #fff;
}

a:hover img#exitday {
    filter: none;
}

#divItems {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0 0 0;
}

#items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px 100px;
    gap: 10px;
    padding: 10px;
    background: #55555550;
    border-radius: 10px;
}

#items div {
    width: 100px;
    max-height: 100px;
}

#items img {
    max-width: 90px;
    max-height: 90px;
    filter: drop-shadow(var(--shadow))
}

#items div {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out .2s;
}

#items div:hover {
    transform: scale(110%);
    filter: drop-shadow(0 0 5px #ffffffff);
}

#items div.selected {
    border-radius: 10px;
    filter: drop-shadow(var(--shadow))
}

#chooseItem {
    margin: 25px 0 0 0;
}

#objectsButtons {
    text-align: left;
    margin: 20px 0 0 20px;
}