:root {
    --bg-color-1: #8bf;
    --bg-color-2: #f8b;
    --text-color-paragraph: #353535;
}

html {
    background: linear-gradient(180deg, var(--bg-color-1), var(--bg-color-2));
    width: 100%;
    min-height: 100vh;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    color: var(--text-color-paragraph);
}

aside {
    position: fixed;
    right: 10px;
    top: 10px;
}

aside img {
    width: 50px;
}

#setday {
    display: none;
}

#setnight {
    filter: invert(100%);
}

#personnageAleatoire {
    max-width: 800px;
    margin: 0 auto;
}

hr {
    margin: 50px 0;
}

#circuitAleatoire {
    max-width: 1250px;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#circuitAleatoire p.desc {
    max-width: 800px;
    margin: 0 auto;
}

main {
    display: inline-block;
}

h1 {
    margin: 15px 0;
    font-weight: bolder;
    color: var(--text-color-paragraph);
    font-size: 50px;
}

.subh1 p {
    font-size: 25px;
    line-height: 0;
    font-weight: 500;
    font-style: italic;
    margin: 0 0 50px 0;
}

h2 {
    margin: 15px 0;
    font-weight: bold;
    color: var(--text-color-paragraph);
}

#playersArrow {
    margin: 0 auto;
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    cursor: pointer;
    transition: ease-in-out .2s;
}

#playersArrow:hover {
    filter: drop-shadow(0 0 10px #ffffff50);
    transform: scale(110%);
}

#playersArrow img {
    margin: 6px auto 0 auto;
    width: 75%;
}

.playerName {
    background: none;
    color: var(--text-color-paragraph);
    border: none;
    text-align: center;
    margin: 0 0 15px 0;
    width: 100%;
}

.playerName:focus {
    background: none;
    color: var(--text-color-paragraph);
    outline: none;
}

button {
    color: #fff;
    text-decoration: none;
    background: #353535;
    padding: 10px 30px;
    border-radius: 100px;
    transition: ease-in-out .2s;
    font-weight: bold;
    border: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    cursor: pointer;
}

#result {
    display: flex;
    height: 183px;
    width: 800px;
    margin: 15px 0 30px 0;
    font-size: 18px;
    font-weight: bolder;
}

.element {
    width: 200px;
}

.element img {
    filter: drop-shadow(0 0 10px #ffffff50);
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: ease-in-out .2s;
}

.element img:hover {
    filter: drop-shadow(0 0 10px #ffffffff);
    transform: scale(110%);
}

#reroll1 button:hover,
#reroll2 button:hover,
#reroll3 button:hover,
#reroll4 button:hover {
    box-shadow: 0 0 5px RGBA(0, 0, 0, 0.5);
    background: #fff;
    color: #353535;
}

#nom2,
#nom3,
#nom4,
#reroll2,
#reroll3,
#reroll4,
#set2,
#set3,
#set4 {
    display: none;
    opacity: 0%;
    transition: all .5s ease-in-out 0s;
}

#vitesseRoute,
#vitesseEau,
#vitesseAir,
#vitesseAntiGravite,
#acceleration,
#poids,
#maniabiliteRoute,
#maniabiliteEau,
#maniabiliteAir,
#maniabiliteAntiGravite,
#adherence,
#miniTurbo {
    position: relative;
    text-align: right;
}

#stats {
    margin: 20px 0 0 0;
    width: 800px;
}

.statName {
    width: 170px;
    text-align: right;
    vertical-align: middle;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.unit {
    width: 25.6px;
    height: 19px;
    display: inline-block;
    transition: ease-in-out .2s;
}

.unfill {
    background: none;
}

.fill {
    background: gold;
}

.fill:nth-of-type(1) {
    background: #ff6666;
}

.fill:nth-of-type(2) {
    background: #f96d66;
    border-radius: 10px 0 0 10px;
}

.fill:nth-of-type(3) {
    background: #f37366
}

.fill:nth-of-type(4) {
    background: #ec7a66
}

.fill:nth-of-type(5) {
    background: #e58066
}

.fill:nth-of-type(6) {
    background: #df8766
}

.fill:nth-of-type(7) {
    background: #d88e66
}

.fill:nth-of-type(8) {
    background: #d19466
}

.fill:nth-of-type(9) {
    background: #ca9c66
}

.fill:nth-of-type(10) {
    background: #c4a266
}

.fill:nth-of-type(11) {
    background: #bda966
}

.fill:nth-of-type(12) {
    background: #b6af66
}

.fill:nth-of-type(13) {
    background: #afb666
}

.fill:nth-of-type(14) {
    background: #a9bd66
}

.fill:nth-of-type(15) {
    background: #a2c466
}

.fill:nth-of-type(16) {
    background: #9cca66
}

.fill:nth-of-type(17) {
    background: #94d166
}

.fill:nth-of-type(18) {
    background: #8ed866
}

.fill:nth-of-type(19) {
    background: #87df66
}

.fill:nth-of-type(20) {
    background: #80e566
}

.fill:nth-of-type(21) {
    background: #7aec66
}

.fill:nth-of-type(22) {
    background: #9be64c
}

.fill:nth-of-type(23) {
    background: #b9e133
}

.fill:nth-of-type(24) {
    background: #dddc19
}

.grilleCircuits {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.nomCoupe {
    font-weight: bolder;
    font-size: 19px;
}

#choose {
    display: block;
    margin: 30px 0 30px 0;
}

#choose button:hover {
    box-shadow: 0 0 5px RGBA(0, 0, 0, 0.5);
    background: #fff;
    color: #353535;
}

#reset {
    display: block;
    margin: 30px 0 30px 0;
}

#reset button:hover {
    box-shadow: 0 0 5px RGBA(0, 0, 0, 0.5);
    background: #fff;
    color: #ff3535;
}

#reset button {
    background: #ff3535;
    color: #fff;
}

.circuit {
    border-radius: 5px;
    transition: ease-in-out .2s;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
}

.circuit:hover {
    transform: scale(110%);
    background-color: #ffffff80;
    filter: drop-shadow(0 0 10px #ffffffff);
}

@media screen and (max-width: 1249px) and (min-width: 769px) {
    #circuitAleatoire {
        max-width: 850px;
        margin: 0 auto;
    }
    .grilleCircuits {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .circuit {
        border-radius: 5px;
        transition: ease-in-out .2s;
        font-size: 14px;
    }
    .nomCoupe {
        font-weight: bolder;
        font-size: 16px;
    }
    button {
        font-size: 16px;
    }
    h2 {
        font-size: 36px;
    }
}

@media screen and (max-width: 768px) and (min-width: 426px) {
    .grilleCircuits {
        grid-template-columns: 1fr 1fr 1fr;
    }
    button {
        font-size: 16px;
    }
    h2 {
        font-size: 36px;
    }
}

@media screen and (max-width: 425px) {
    .grilleCircuits {
        grid-template-columns: 1fr 1fr;
    }
    .circuit {
        font-size: 28px;
    }
    .nomCoupe {
        font-size: 32px;
    }
    button {
        font-size: 32px;
    }
    h2 {
        font-size: 36px;
    }
    #compteur {
        font-size: 36px;
    }
    p {
        font-size: 25px;
    }
}

#ee {
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 15px;
    opacity: 0;
    transition: ease-in-out .2s;
}

#ee:hover {
    opacity: 1;
}

.coupe {
    position: relative
}

.coupe::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    opacity: .4;
    z-index: -1;
    transform: rotateZ(-30deg);
    background-repeat: no-repeat;
    background-size: 70px;
}

.coupe:nth-of-type(1)::before {
    background-image: url('./img/coupes/Champigon.png');
}

.coupe:nth-of-type(2)::before {
    background-image: url('./img/coupes/Fleur.png');
}

.coupe:nth-of-type(3)::before {
    background-image: url('./img/coupes/Etoile.png');
}

.coupe:nth-of-type(4)::before {
    background-image: url('./img/coupes/Speciale.png');
}

.coupe:nth-of-type(5)::before {
    background-image: url('./img/coupes/Oeuf.png');
}

.coupe:nth-of-type(6)::before {
    background-image: url('./img/coupes/Crossing.png');
}

.coupe:nth-of-type(7)::before {
    background-image: url('./img/coupes/Carapace.png');
}

.coupe:nth-of-type(8)::before {
    background-image: url('./img/coupes/Banane.png');
}

.coupe:nth-of-type(9)::before {
    background-image: url('./img/coupes/Feuille.png');
}

.coupe:nth-of-type(10)::before {
    background-image: url('./img/coupes/Eclair.png');
}

.coupe:nth-of-type(11)::before {
    background-image: url('./img/coupes/Triforce.png');
}

.coupe:nth-of-type(12)::before {
    background-image: url('./img/coupes/Clochette.png');
}

.coupe:nth-of-type(13)::before {
    background-image: url('./img/coupes/Turbo-doree.png');
}

.coupe:nth-of-type(14)::before {
    background-image: url('./img/coupes/Maneki-neko.png');
}

.coupe:nth-of-type(15)::before {
    background-image: url('./img/coupes/Navet.png');
}

.coupe:nth-of-type(16)::before {
    background-image: url('./img/coupes/Helico.png');
}